.block-banner-slideshow{
    width: 100%;
    position: relative;
}
.block-banner-slideshow ul.slides{
    margin: 0;
    padding: 0;
}
.block-banner-slideshow li{
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.block-banner-slideshow li a img{
    max-width: 100%;
}
.block-banner-slideshow .flex-direction-nav{
    margin: 0;
}
.block-banner-slideshow .flex-direction-nav li a {
    position: absolute;
    display: inline-block;
    background: url("../images/slider-nav.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    height: 38px !important;
    opacity: 1;
    text-align: left;
    text-indent: -9999em;
    top: 42.5% !important;
    /* transition: all 0.18s ease-out 0s;*/
    width: 38px !important;
}
.block-banner-slideshow:hover .flex-direction-nav li a {
    opacity: 0.6;
    /* transition: none 0s ease 0s ;*/
}
.block-banner-slideshow .flex-direction-nav li a:hover {
    opacity: 1;
}
.block-banner-slideshow .flex-direction-nav li .flex-next {
    background-position: 0 -38px !important;
    right: 20px !important;
}
.block-banner-slideshow li .flex-prev {
    left: 20px !important;
}
.block-banner-slideshow.flexslider .flex-control-nav {
    margin: 0;
    padding: 0;
    position: absolute; bottom: 20px; right: 0;
    width: 100%;
    text-align: center;
    display: none;
}
.block-banner-slideshow.flexslider .flex-control-nav li{
    float: none;
    display: inline-block;
    margin: 0 3px;
}
.block-banner-slideshow.flexslider .flex-control-nav li a {
    background: none repeat scroll 0 0 #fff;
    height: 16px !important;
    width: 16px !important;
    text-align: center; line-height: 16px;
    border-radius: 8px;
    border: 3px solid #0077a3;
    display: inline-block;
    color: #ed145b;
    cursor: pointer;
    text-indent: -9999px;
}
.block-banner-slideshow.flexslider .flex-control-nav li a.flex-active{
    color: #fff;
    border: 3px solid #fff;
}